@charset "UTF-8";
html,
body,
div,
span,
iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a,
code,
em,
img,
strong, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset,
form,
label,
legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
figure, figcaption,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/* list */
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* table */
table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
body {
  color: #222;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: #222;
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

/* button */
button {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* hidden */
caption,
input[type=radio],
.ally-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

/* ============================================================== */
:root {
  /* iOS 11.2 이상 */
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
  --btn-font-l: normal normal 500 1.8rem/2rem "KBF";
  --btn-font-m: normal normal 500 1.4rem/1.6rem "Base";
  --btn-font-s: normal normal 400 1.4rem/1.6rem "Base";
  --btn-font-t: normal normal 400 1.4rem/1.8rem "Base";
  --btn-height-l: 5.6rem;
  --btn-height-m: 4.4rem;
  --btn-height-s: 2.8rem;
  --color-kb-yellow-10: #FFFCEA;
  --color-kb-yellow-40: #FFED94;
  --color-kb-yellow-70: #FFE443;
  --color-kb-yellow-100: #FFD700;
  --color-kb-yellow-200: #FFC700;
  --color-kb-yellow-300: #FFBE1C;
  --color-red: #F66D6D;
  --color-orange: #FF862F;
  --color-green: #00C378;
  --color-blue: #6B9CFF;
  --color-red-text: #E93333;
  --color-orange-text: #EC6300;
  --color-green-text: #00935A;
  --color-blue-text: #4880ED;
  --color-gray-0: #000000;
  --color-gray-50: #111111;
  --color-gray-100: #333A44;
  --color-gray-150: #444B55;
  --color-gray-200: #555B66;
  --color-gray-300: #666C77;
  --color-gray-350: #777D88;
  --color-gray-400: #888E99;
  --color-gray-500: #999EAA;
  --color-gray-550: #B7BABF;
  --color-gray-600: #DADCDF;
  --color-gray-700: #EDEDEE;
  --color-gray-750: #F5F5F5;
  --color-gray-800: #F7F7F7;
  --color-gray-850: #FAFAFA;
  --color-gray-900: #FFFFFF;
  /* Grayscale */
  --gray_100: #000;
  --gray_95: #222;
  --gray_90: #444;
  --gray_80: #666;
  --gray_70: #777;
  --gray_60: #999;
  --gray_50: #ccc;
  --gray_40: #d7d7d7;
  --gray_30: #e5e5e5;
  --gray_20: #eee;
  --gray_10: #f7f7f7;
  --gray_0: #fff;
  --line: #724B2F;
  --line_gray: #ddd;
}

.mdl-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  position: relative;
}

.mdl-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: auto;
  height: auto;
  text-decoration: none;
  z-index: 0;
}
.mdl-btn span {
  display: block;
  font: var(--btn-font-t);
  color: var(--color-gray-200);
  flex: 0 auto;
  word-break: keep-all;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.mdl-btn:disabled span {
  color: var(--color-gray-500);
}
.mdl-btn[data-size=large] {
  height: var(--btn-height-l);
  border-radius: 1.6rem;
  padding: 0 2.4rem;
  gap: 0.8rem;
}
.mdl-btn[data-size=large] span {
  font: var(--btn-font-l);
}
.mdl-btn[data-size=medium] {
  height: var(--btn-height-m);
  border-radius: 1.2rem;
  padding: 0 2rem;
  gap: 0.8rem;
}
.mdl-btn[data-size=small] {
  height: var(--btn-height-s);
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  gap: 0.8rem;
}
.mdl-btn[data-style] {
  flex: auto;
  width: 100%;
}
.mdl-btn[data-style] span {
  text-decoration: none;
  color: var(--color-gray-0);
}
.mdl-btn[data-style]:disabled {
  background-color: var(--color-gray-600) !important;
}
.mdl-btn[data-style]:disabled span {
  color: var(--color-gray-900) !important;
}
.mdl-btn[data-style=filed] {
  background-color: var(--color-kb-yellow-100);
}
.mdl-btn[data-style=tonal-yellow] {
  background-color: var(--color-kb-yellow-40);
}
.mdl-btn[data-style=tonal-gray] {
  background-color: var(--color-gray-700);
}
.mdl-btn[data-style=outlined] {
  border: 0.1rem solid var(--color-gray-500);
}
.mdl-btn[data-style=outlined-s] {
  border: 0.1rem solid #BABABC;
}
.mdl-btn[data-style=outlined-s] span {
  font: var(--btn-font-m);
  color: var(--color-gray-200);
}
.mdl-btn[data-style=outlined]:disabled, .mdl-btn[data-style=outlined-s]:disabled {
  background-color: transparent !important;
  border-color: var(--color-gray-600) !important;
}
.mdl-btn[data-style=outlined]:disabled span, .mdl-btn[data-style=outlined-s]:disabled span {
  color: var(--color-gray-500) !important;
}

html {
  font-size: 10px;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 2.6667vw;
  }
  .container {
    font-size: 2vw;
  }
  .container * {
    font-size: 4vw;
  }
  .container .ui-content {
    padding: 5vw;
  }
}
body {
  font-family: "KBF", sans-serif;
  color: #666;
  font-size: 1.4rem;
  word-break: keep-all;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  word-break: keep-all;
}

.mdl-bul-dot li {
  position: relative;
  text-align: left;
  display: flex;
  width: 100%;
}
.mdl-bul-dot li::before {
  content: "";
  position: relative;
  top: 0.56em;
  left: 0;
  margin-right: 0.4rem;
  min-width: 0.3rem;
  min-height: 0.3rem;
  max-width: 0.3rem;
  max-height: 0.3rem;
  margin-right: 0.9rem;
  background-color: #000;
  border-radius: 50%;
}
.mdl-bul-dot li div {
  font-size: 1.6rem;
  font-weight: 300;
}/*# sourceMappingURL=common.css.map */